@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(https://fonts.googleapis.com/css?family=Lexend+Deca);
@import url(https://fonts.googleapis.com/css?family=Work+Sans);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


:root {
    --foreground: #ededed;
    --background: #373737; 
  }


html {
    background-color: var(--background);
	font-family:'Lexend Deca';
}

body, html {
    margin-top: 0;
    margin-bottom: 0;

    margin-left: 0;
    margin-right: 0;

    padding: 0;

    color:var(--foreground);
    font-family:'Lexend Deca';
    

}